.movies {
  padding-bottom: 0;
  padding-top: 0;
}

@media (min-width: 320px) {
  .movies {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .movies {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1280px) {
  .movies {
    padding-right: 70px;
    padding-left: 70px;
  }
}
