.movies {
  padding-bottom: 0;
  padding-top: 0;
}

.movies__error {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 30px 0;
}

@media (min-width: 320px) {
  .movies {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .movies {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1280px) {
  .movies {
    padding-right: 70px;
    padding-left: 70px;
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
  }
}
