.section-title {
  color: #FFF;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  border-bottom: solid 1px #DADADA;
}

@media (min-width: 320px) {
  .section-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 70px 0 28px 0;
  }
}

@media (min-width: 768px) {
  .section-title {
    font-size: 22px;
    letter-spacing: -0.88px;
    padding: 90px 0 23px 0;
  }
}

@media (min-width: 1280px) {
  .section-title {
    padding: 100px 0 23px 0;
  }
}
